ex1-hello-jpa/src/main/resources/META-INF/persistence.xml
ex1-hello-jpa/target/classes/META-INF/persistence.xml
ex1-hello-jpa/pom.xml

jpashop/src/main/resources/META-INF/persistence.xml
jpashop/target/classes/META-INF/persistence.xml
jpashop/pom.xml

jpql/src/main/resources/META-INF/persistence.xml
jpql/target/classes/META-INF/persistence.xml
jpql/pom.xml



queridsl/.gradle
queridsl/build
queridsl/gradle
queridsl/out
queridsl/HELP.md
queridsl/build.gradle
queridsl/gradlew
queridsl/gradlew.bat
queridsl/settings.gradle
queridsl/src/main/resources